---
import '../styles/reset.css';
import '../styles/theme.css';
import '../styles/utilities.css';
import '../styles/components.css';

import Navbar from '~/components/navbar.astro';
import Footer from '~/components/footer.astro';
import favIcon from '~/../public/favicon.ico';

import { SITE_TITLE, SITE_DESCRIPTION } from '../constants';
const { title = 'Pack organization for backpackers and travelers.' } = Astro.props;

type Props = {
	title?: string;
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={SITE_DESCRIPTION} />
		<meta property="og:title" content={`${SITE_TITLE} - ${title}`} />
		<meta property="og:description" content={SITE_DESCRIPTION} />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<link rel="icon" type="image/x-icon" href={favIcon} />

		<title>{SITE_TITLE} - {title}</title>
	</head>
	<body data-theme="light">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
