---
import '@fontsource-variable/inter';
import '@fontsource/jetbrains-mono';
import '../styles/reset.css';
import '../styles/tailwind.css';
import '../styles/themes/base.css';
import '../styles/themes/light.css';
import '../styles/themes/dark.css';
import '../styles/typography.css';
import '../styles/layout.css';
import '../styles/effects.css';
import '../styles/utilities.css';
import '../styles/components.css';

import Navbar from '~/components/navbar.astro';
import Footer from '~/components/footer.astro';
import CookieConsent from '~/components/legal/cookie-consent.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../constants';
const { title = 'Pack organization for backpackers and travelers.' } = Astro.props;

type Props = {
	title?: string;
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={SITE_DESCRIPTION} />
		<meta property="og:title" content={`${SITE_TITLE} - ${title}`} />
		<meta property="og:description" content={SITE_DESCRIPTION} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://tidytrek.co/landing/tidytrek-og.png" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:image" content="https://tidytrek.co/landing/tidytrek-og.png" />

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="theme-color" content="#338866" />

		<script src="/src/scripts/theme.js"></script>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VX2NGYBNRV"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}

			// only initialize if user accepted cookies
			const consent = localStorage.getItem('cookie-consent');
			if (consent === 'accepted') {
				gtag('js', new Date());
				gtag('config', 'G-VX2NGYBNRV');
			}

			// function for cookie consent to call
			window.initializeTidytrekAnalytics = function () {
				gtag('js', new Date());
				gtag('config', 'G-VX2NGYBNRV');
			};
		</script>

		<title>{SITE_TITLE} - {title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
		<CookieConsent />
	</body><style>
		body {
			background-color: var(--color-bg-primary);
		}

		main {
			background-color: var(--color-bg-primary);
			min-height: 100vh;
		}
	</style>
</html>
